In [3]:
a=10
print(a,type(a))

10 <class 'int'>

In [4]:
a=10.2
print(a,type(a))

10.2 <class 'float'>

In [5]:
a='heelo'
print(a,type(a))

heelo <class 'str'>

In [6]:
a= None
print(a,type(a))

None <class 'NoneType'>

In [8]:
print()
a=5
b=10
print(a,b)
print(a,b, a-b, )

5 10
5 10 -5

In [9]:
print(a)
print(b)
print(c)

5
10

NameError: name 'c' is not defined

In [10]:
print=10

In [1]:
print(a )

NameError: name 'a' is not defined

In [12]:
del print

In [13]:
print(a)

5

In [15]:
name = 'aakash'
age = '20'
city = 'gkp'
print(f'my name is {name} i am {age} years old   i live in {city}')

my name is aakash i am 20 years old   i live in gkp

In [3]:
x=10
y=3
z=x/y
print(f'{x}/{y}={z:.2f}')
print(x,'/',y, '=')

10/3=3.33
10 / 3 =

In [19]:
a1='aakash'
b2='sam'
c1='ram'
x1,y2,z3 = 12, 23,32
print(f'{a1:8} {x1}')
print(f'{b2:8} {y2}')
print(f'{c1:8} {z3}')

aakash   12
sam      23
ram      32

In [5]:
a1 = 'aakash'
b2 = 'sam'
c1 = 'ram'
x1='12'
y2='23'
z3='22'
print(a1,x1)

aakash 12