In [1]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
for i in range(5,15):
    print(i)

5
6
7
8
9
10
11
12
13
14

In [3]:
for i in range(10, 0 , -1):
    print(i,end="   ")

10   9   8   7   6   5   4   3   2   1

In [4]:
data = [12,56,454,56,78,96,646,6564,646,]
for item in data:
    print(item, end=' ')

12 56 454 56 78 96 646 6564 646

In [5]:
prices=[2,45,69,None,89,56,None,45,None]
for pr in prices:
    if pr is not None:
        print(pr)

2
45
69
89
56
45

In [6]:
prices=[2,45,69,None,89,56,None,45,None]
for pr in prices:
    if pr is  None:
        continue

    print(pr)

2
45
69
89
56
45

In [10]:
prices=[2,45,69,None,89,56,None,45,None]
for item in prices:
    if item is  None:
        break
    print(item)
print('loop end')

2
45
69
loop end

In [14]:
for i in range(1,6):
    print(i)
    for j in range(1,4):
        print(j,end='')
    print()

1
123
2
123
3
123
4
123
5
123

enumerate 
zip
for -else

In [3]:
names = ['sam','ram','sohan','aakash','ajay']
for name in enumerate(names):
    print(name)

(0, 'sam')
(1, 'ram')
(2, 'sohan')
(3, 'aakash')
(4, 'ajay')

In [8]:
x =[1,2,3,4]
y =[7,8,3,2]
z =[2,3,6,5]
for i in zip(x,y,z):
    print(i)

(1, 7, 2)
(2, 8, 3)
(3, 3, 6)
(4, 2, 5)

In [13]:
x =[1,2,3,4,8,9]
y =[7,8,3,2,6,8]
z =[2,3,6,5]
for i in zip(x,y,z):
    print(i)

(1, 7, 2)
(2, 8, 3)
(3, 3, 6)
(4, 2, 5)

In [7]:
x = [1,2,3,3,2,1,3,2,6,2,1,3,1,2,3,1,3,2,1,2,3,1,2,3]
for i, v in enumerate(x):
    if i== 10:
        break
    print(v)

1
2
3
3
2
1
3
2
6
2

zip

In [11]:
for i,j,k in zip(x,y,z):
    print(i+j+k)

10
13
12
11

In [ ]:
for -else

In [14]:
for i in x:
    if i ==3:
        break
    print(i)
else :
    print ('done')

1
2

In [15]:
for i in x:
    if i ==13:
        break
    print(i)
else :
    print ('completed without break')

1
2
3
4
8
9
completed without break

In [16]:
num =7 
for i in range (2,num):
    if num%i ==0:
        print('not prime')
        break
else:
    print('prime')

prime

In [17]:
num =7123 
for i in range (2,num):
    if num%i ==0:
        print('not prime')
        break
else:
    print('prime')

not prime

In [20]:
num =7123
for i in range (2,num):
    print(f'{num} % {i} = {num%i}')
    if num%i ==0:
        print('not prime')
        break
else:
    print('prime')

7123 % 2 = 1
7123 % 3 = 1
7123 % 4 = 3
7123 % 5 = 3
7123 % 6 = 1
7123 % 7 = 4
7123 % 8 = 3
7123 % 9 = 4
7123 % 10 = 3
7123 % 11 = 6
7123 % 12 = 7
7123 % 13 = 12
7123 % 14 = 11
7123 % 15 = 13
7123 % 16 = 3
7123 % 17 = 0
not prime

In [4]:
# Write a program to print numbers from 1 to 10 using a for loop.

for i in range( 1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

SyntaxError: invalid syntax (1683304876.py, line 5)