In [ ]:
Strings
 create
 index and slice
 methods

In [1]:
a = 'Apple'
b = "Banana"
c = '''This 
is a string of multiple lines'''
print(type(a), type(b), type(c))
d = str(123 ) #convert value to string 
print(type(d))

<class 'str'> <class 'str'> <class 'str'>
<class 'str'>

In [2]:
a * 5 #string duplication

'AppleAppleAppleAppleApple'

In [3]:
a * 5 #string duplication

'AppleAppleAppleAppleApple'

In [4]:
a + b #string concatenation

'AppleBanana'

In [5]:
a[0]
a[-1]

'e'

In [6]:
a[0] = 'B' #TypeError : 'srt' object does not support item assignment

TypeError: 'str' object does not support item assignment

In [7]:
a[0:3] # > a[0] a[1] a[2]

'App'

In [11]:
name = 'Vijay Deenanath Chauhan'
print(name[0:5])
print(name[6:15])
print(name[16:len(name)])
# when starting index is not given, it is assumed to be 0
print(name[:5])
# when ending index is not given, it is assumed to be Len(name)
print(name[16:])
print(name[-7:])

Vijay
Deenanath
Chauhan
Vijay
Chauhan
Chauhan

In [19]:
#slicing syntax

#var[(start):(stop):(step)]
print(name[::2])
print(name[1::2])

VjyDeaahCahn
ia ennt hua

In [16]:
string method 
- formatting methods
    -upper(), lower (), capitalize(), title(), swapcase()
- validation methods
    -isupper(), islower (), title(), isalpha(),  isnumeric()
    -startwith(), endswith()
- utility methods 
    -split(), join(), find(), replace(), strip()

SyntaxError: invalid syntax (3206053193.py, line 1)

In [20]:
msg = 'this is a PYTHON string'
print(msg.upper())
print(msg.lower())
print(msg.capitalize())
print(msg.swapcase())
print(msg.casefold())
print(msg.title())

THIS IS A PYTHON STRING
this is a python string
This is a python string
THIS IS A python STRING
this is a python string
This Is A Python String

In [21]:
msg = msg.title()
print(msg)

This Is A Python String

In [22]:
"hello".isupper()

False

In [23]:
x = input('enter a number:')
print('>>>', x,  '<<<')
if x.isnumeric():
    print('you entered a number')
if x.isalpha():
    print('you entered a string')
if x.isalnum():
    print('you entered a alphanumeric')
if x.islower():
    print('you entered a lowercase string')

>>> 3 <<<
you entered a number
you entered a alphanumeric

In [24]:
person = "Mr. Aakash"
print(person.startswith("Mr."))
print(person.startswith("Ms."))

True
False

In [25]:
colors =["Red", "Green", "Blue", "Black", "Brown" ]
for color in colors:
    if color.startswith('B'):
        print(color)

Blue
Black
Brown

In [26]:
images = ["1.png", "2.png", "3.png", "4.png", "5.png"]
for img in images:
    if img.endswith('.png'):
        print("PNG found >>", img)
    if img.endswith('.jpg'):
        print("JPG found >>", img)

PNG found >> 1.png
PNG found >> 2.png
PNG found >> 3.png
PNG found >> 4.png
PNG found >> 5.png

In [27]:
quote = "Life Before Death, Strength Before Weakeness, Journey Before Destination"
print(quote)
print(quote.split())
print(quote.split(","))
print(quote.split(" Before "))

Life Before Death, Strength Before Weakeness, Journey Before Destination
['Life', 'Before', 'Death,', 'Strength', 'Before', 'Weakeness,', 'Journey', 'Before', 'Destination']
['Life Before Death', ' Strength Before Weakeness', ' Journey Before Destination']
['Life', 'Death, Strength', 'Weakeness, Journey', 'Destination']

In [28]:
words = quote.split()
print(words)
print(len(words))
x = ['alex','Alexa','Alexix','Alexander']
print(" ".join(x))
print(" , ".join(x))
print(" ---".join(x))
print("+ ".join(x))
print("".join(x))

['Life', 'Before', 'Death,', 'Strength', 'Before', 'Weakeness,', 'Journey', 'Before', 'Destination']
9
alex Alexa Alexix Alexander
alex , Alexa , Alexix , Alexander
alex ---Alexa ---Alexix ---Alexander
alex+ Alexa+ Alexix+ Alexander
alexAlexaAlexixAlexander

In [29]:

 

story= 'once upon a time , there was a king, who left his kingdom to the queen, and she ruled over it'
print(story.find('on'))
print(story.find('king'))
print(story.find('queen'))
print(story.find('prince'))
print(story.find('king ',31)) #31 is the starting index for searching
print(story.rfind('the'))

0
31
65
-1
-1
61

In [30]:

print(story.replace('i','o'))
print(story.replace('the','this'))
print(story.replace('time','year') .replace('was','is').replace('left','leaves'))
print(story.replace('a','')) # remove all a
print(story.replace('king','')) # remove all king

once upon a tome , there was a kong, who left hos kongdom to the queen, and she ruled over ot
once upon a time , thisre was a king, who left his kingdom to this queen, and she ruled over it
once upon a year , there is a king, who leaves his kingdom to the queen, and she ruled over it
once upon  time , there ws  king, who left his kingdom to the queen, nd she ruled over it
once upon a time , there was a , who left his dom to the queen, and she ruled over it

In [31]:

story= story.replace('king','queen')
print(story)

once upon a time , there was a queen, who left his queendom to the queen, and she ruled over it

In [34]:

#to replace space
data = ' hello '
cdata = data.strip()
print(cdata.strip())

hello

In [9]:

kachra = ''

In [8]:

images = ['1.jpg', '2.png','3.png','4.png']
for image in images:
    image = image.removesuffix('.png').removeprefix('.jpg')
    print(int(images))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'