In [1]:
x = (12,45,65,78)
print(x)
print(type(x))

(12, 45, 65, 78)
<class 'tuple'>

In [10]:
a = 1,2,3,4 #tuple packing
print(a)

(1, 2, 3, 4)

In [11]:

q, w, e, r = a
print(q,w,e,r)
first,*rest = a
print(first, rest)

1 2 3 4
1 [2, 3, 4]

In [13]:
mn,*kk = "aakash kumar Jaiswal".split()
print(mn,kk,sep="\n")

aakash
['kumar', 'Jaiswal']

In [15]:
a = [1,2,3,4]
at = tuple(x)
print(a,at)
al = list(at)

[1, 2, 3, 4] (12, 45, 65, 78)

In [ ]:
set

In [16]:
a = {1,2,1,3,1,5,4,1,1,2}
print(a)

{1, 2, 3, 4, 5}

In [18]:
b = set() #empty set
b.add('hello')
b.add("fellow")
b.add("fellow")
b.add("flow")
b.add("low")
b.add("fell")
print(b)

{'hello', 'fell', 'low', 'fellow', 'flow'}

In [21]:
b.discard('hello')
b.discard('fell')
b.remove("low")
print(b)

{'fellow', 'flow'}

set operations

In [22]:
a = {1,2,3,4,5}
b = {5,6,7}
c = {14,5,6,8,9,3,}
d = {1,2,3,4,5,5,6,9,8}

In [23]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7}

In [24]:
a.intersection(c)

{3, 5}

In [25]:
c.intersection(d)     #A&b

{3, 5, 6, 8, 9}

In [26]:
print(a.difference(b))  # a-b 
print(b.difference(a))   #B-A

{1, 2, 3, 4}
{6, 7}

In [27]:
a.symmetric_difference(b) # a^b

{1, 2, 3, 4, 6, 7}

In [29]:
a.issuperset(d)

False

In [30]:
a.issuperset(a)
a.issuperset(c)
a.issuperset(c)
a.issuperset(d)

False